if MACH_PPMIPS

choice
	prompt "Machine type"
	default PPMIPS_NSCSCC

config PPMIPS_NSCSCC
	bool "PPMIPS SoC for NSCSCC 2022 board"

endchoice

config FIT_IMAGE_PPMIPS
	bool "FIT image for PPMIPS"

endif
